<div>
  <h2>Team Name: {{model.name}}</h2>
  <h3>Category: {{model.category}}</h3>
  <p>Total Players: {{model.totalplayer}}</p>
  <p>Players Wanted: {{model.playerswanted}}</p>
  <p>Age Range: {{model.agerange}}</p>
  <p>Location: {{model.location}}</p>
  <p>Description: {{model.description}}</p>
</div>
