<div class="row">
  {{#link-to 'team' model.id}}
    <h4>Team Name: {{model.name}}</h4>{{/link-to}}
  <h4>Category: {{model.category}}</h4>
  <div class="col-md-6">
    <p><b>Total Players:</b> {{model.totalplayer}}</p>
    <p><b>Players Wanted:</b> {{model.playerswanted}}</p>
  </div>
  <div class="col-md-6">
    <p><b>Age Range:</b> {{model.agerange}}</p>
    <p><b>Location:</b> {{model.location}}</p>
  </div>
  <div class="col-md-12">
    <p><b>Description:</b> {{model.description}}</p>
  </div>
</div>
