<div class="main jumbotron">
  <div class="container whitetext">
    <div class="row">
      <div class="col-md-4 center">
        {{sign-up-player saveSignUpPlayer="saveSignUpPlayer"}}
      </div>
      <div class="col-md-4">
        <center>
          <h1>Team Finder</h1>
          <br>
          <p>Please Sign Up or Sign In Below!</p>
        </center>
      </div>
      <div class="col-md-4 center">
        {{sign-up saveSignUpTeam="saveSignUpTeam"}}
      </div>
    </div>

    <!-- <div class="row">
   <div class="col-md-4">
      <video class="video2"  autoplay loop>
        <source src="asset/video/Kayak - 7559.mp4" type="video/mp4">
      </video>
   </div>
   <div class="col-md-4">
      <video class="video1"  autoplay loop>
        <source src="asset/video/Roller Skates - 958.mp4" type="video/mp4">
      </video>
   </div>
   <div class="col-md-4">
      <video class="video" autoplay loop>
        <source src="asset/video/Skateboard - 2295.mp4" type="video/mp4">
      </video>
   </div>
  </div> -->
  </div>
</div>

<hr>
  <div style="margin-left:600px">
{{view-credentials}}
{{match-password}}
  </div>

<hr>

<br>
<div>
  <div class="col-md-6">
    <center>
      <h3> Existing Player Sign-in </h3></center>
    {{#each model.players as |player|}}
      <div class="col-md-4 signin">
        {{choose-user-list player=player}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-6">
    <center>
      <h3> Existing Team Sign-in </h3></center>
    {{#each model.teams as |team|}}
      <div class="col-md-4 signin">
        {{choose-team-list team=team}}
      </div>
    {{/each}}
  </div>
</div>
