<h4>Player Name: {{model.players.name}}</h4>
<h3> Player ID: {{model.players.id}}</h3>
<div class="col-md-6">
  <p><b>Sex:</b> {{model.players.sex}}</p>
  <p><b>Description:</b> {{model.players.description}}</p>
  <p><b>Joined Teams:</b></p>
  <ol>
  {{#each model.players.joinedteams as |joinedteam|}}
    <li>{{joinedteam}}</li>
  {{/each}}
  </ol>
</div>
<div class="col-md-6">
  <p><b>Build:</b> {{model.players.build}}</p>
  <p><b>Age:</b> {{model.players.age}}</p>
  <p><b>Location:</b> {{model.players.location}}</p>
  <p><b>Email:</b> {{model.players.email}}</p>
</div>


{{team-send-message sendMessage="sendMessage" player=model.players}}

<hr>
<br>
<br>


{{#each model.players.messages as |message|}}
  <div style="width:200px;border:1px solid red; margin:10px">
    <p>Message:{{message.message}}</p>
    <p>Time:{{message.time}}</p>
    <p>By {{message.name}}</p>
  </div>
{{/each}}
