{{nav-bar transTo="transTo"}}

<button {{action 'test'}}>Test credentials</button>


<div class="col-md-6">
<div>
  <h2>Team Name: {{model.teams.name}}</h2>
  <h3>Category: {{model.teams.category}}</h3>
  <p>Total Players: {{model.teams.totalplayer}}</p>
  <p>Players Wanted: {{model.teams.playerswanted}}</p>
  <p>Age Range: {{model.teams.agerange}}</p>
  <p>Location: {{model.teams.location}}</p>
  <p>Description: {{model.teams.description}}</p>
  <p>Team mates:</p>
</div>

<ol>
  {{#each model.teams.teammates as |teammate|}}
    <li><a{{action "linktoteammate" teammate model.players}}>{{teammate}}</a>
      <button {{action 'deleteteammate' teammate model.teams model.players}}>Delete Teammate</button>
    </li>
  {{/each}}
</ol>
<hr>
{{creds.player}}
<hr>

{{edit-team team=model.teams editTeam="editTeam"}}

{{player-send-message sendMessage="sendMessage" team=model.teams}}

{{#each model.teams.messages as |message|}}
  <div style="width:200px;border:1px solid red; margin:10px">
    <li>Message:{{message.message}}</li>
    <li>Time:{{message.time}}</li>
    <li>By {{message.name}}</li>
    <button {{action 'addplayer' message.name model.teams model.players}}>Add player</button>
  </div>
{{/each}}

</div>

<div class="col-md-6">
{{set-formation team=model.teams}}
</div>
